<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>


<style>

    
</style>



</head>

<body>
    



    <div class="Card">
        <div class="Card-container"></div>
            <div class="Card-Header">
                <div class="Card-user">
                    <img src="https://images.unsplash.com/photo-1548658166-136d9f6a7e76?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="" />
                    <h2>
                    Elmo.pug
                    <span>Monteria, Colombia</span>
                    </h2>
                </div>
                <div class="Card-settings">
                    <i class="fas fa-ellipsis-h" />
                </div>
            </div>
            <div class="Card-photo">
                <figure>
                    <img src="https://images.unsplash.com/photo-1548658166-136d9f6a7e76?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="" /> 
                </figure>
            </div>
            <div class="Card-icons">
                <div class="Card-icons-firts">
                    <i class="fas fa-heart" />
                    <i class="fas fa-paper-plane" />
                </div>
            </div>
            <div class="Card-icons-second">
                <i class="fas fa-bookmark" />
            </div>
            <div class="Card-description">
                <h3>gndx</h3>
                <span>Hola!</span>
            </div>
            <Comments />
            </div>
        </div>
    </div>



</body>
</html>